# Kopiraj ovu datoteku u  .env  i popuni vrijednosti.
# docker compose automatski čita .env iz iste mape.

GOOGLE_MAPS_API_KEY=AIza...tvoj-kljuc-ovdje

POSTGRES_USER=promet
POSTGRES_PASSWORD=promijeni-me
POSTGRES_DB=promet
